<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PASimpleApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <PASimpleApp.Properties.Settings>
            <setting name="PowerMeterID_1" serializeAs="String">
                <value />
            </setting>
            <setting name="PowerMeterID_2" serializeAs="String">
                <value />
            </setting>
            <setting name="PowerMeterID_1_ToAmp" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PowerMeterID_2_ToAmp" serializeAs="String">
                <value>-1</value>
            </setting>
        </PASimpleApp.Properties.Settings>
    </userSettings>
</configuration>